<ng-http-loader [backgroundColor]="'#fe0202'" spinner="sk-wave" [backdrop]="true" [extraDuration]="0" [minDuration]="0"

[filteredUrlPatterns]="['FichaMedica/listaTiempoTranscurrido']"

></ng-http-loader>
<router-outlet></router-outlet>

<!-- skChasingDots: 'sk-chasing-dots',
skCubeGrid: 'sk-cube-grid',
skDoubleBounce: 'sk-double-bounce',
skRotatingPlane: 'sk-rotationg-plane',---------
skSpinnerPulse: 'sk-spinner-pulse',
skThreeBounce: 'sk-three-bounce',---
skWanderingCubes: 'sk-wandering-cubes',
skWave: 'sk-wave' -->

<!-- <ng-http-loader 
    [backdrop]="false"
    [backgroundColor]="'#ff0000'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]=".6"
    [backdropBackgroundColor]="'#777777'"
    [spinner]="spinkit.skWave">
</ng-http-loader> -->